<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/About.css" />

<div class="landing-page">
    <header>
        <div class="container">
            <span class="logo">Sobre <b style="color: #6c63ff;">nós</b></span>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Easy <b style="color: #6c63ff;">Pass</b></h1>
                <p>A Easy Pass é mais do que apenas uma plataforma de gestão de passes estudantis. É uma revolução na forma como os alunos lidam com a burocracia do transporte público. Ao oferecer uma experiência totalmente digital, a Easy Pass elimina a necessidade de deslocamentos desnecessários e horas perdidas em filas. Agora, os alunos podem realizar todas as suas tarefas relacionadas ao passe estudantil no conforto de suas casas, poupando tempo e energia preciosos para se concentrarem no que realmente importa: seus estudos e crescimento pessoal.</p>
                <br>
                <p>Mas a conveniência não é o único benefício da Easy Pass. Além de simplificar processos, a plataforma também permite que os estudantes tenham um controle mais eficaz sobre seus gastos com transporte. Com a opção de recarregar o saldo do passe estudantil online, os usuários podem gerenciar suas finanças de forma mais consciente e evitar contratempos de última hora. Assim, a Easy Pass não apenas facilita a vida dos estudantes, mas também promove uma cultura de responsabilidade financeira e autonomia, preparando-os para os desafios do mundo real. Junte-se a nós e descubra como a Easy Pass pode transformar sua experiência de mobilidade estudantil!</p>
                <div class="image">
                    <img src="https://i.postimg.cc/rmFBvjMv/college-students-rafiki-1.png">
                </div>
            </div>
        </div>
    </div>
    
</div>