<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/Contact.css" />

<div class="landing-page">
    <header>
        <div class="container">
            <a href="" class="logo">Contate-<b style="color: #6c63ff;">nos</b></a>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1><b style="color: #6c63ff;">Contato</b></h1>
                <p> <b style="color: #6c63ff;">Telefone:</b> (17) 3219-1433 </p>
                <br />
                <p> <b style="color: #6c63ff;">WhatsApp:</b> (17) 98807-9246 </p>
                <br />
                <p> <b style="color: #6c63ff;">Email:</b> comercial@easypass.com.br</p>
            </div>
            <div class="imagemContato">
                <img src="https://i.postimg.cc/YSmRjm8h/Voice-chat-rafiki.png">
            </div>
        </div>
    </div>
</div>
