@{
  ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/Index.css" />

<div class="landing-page">
    <header>
        <div class="container">
            <a href="" class="logo">Easy <b style="color: #6c63ff;">Pass</b></a>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Seja bem-vindo, estudante!</h1>
                <p>Cansado da burocracia de renovar seu passe estudantil? A Easy Pass tem a solução! Com nosso sistema web, renovar seu passe é fácil e rápido. Vamos começar agora mesmo?</p>
                <a href="Identity/Account/Register" class="custom-button">Criar conta</a>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/T2WhFP8X/double-decker-bus-rafiki.png">
            </div>
        </div>
    </div>
</div>